@{
    ViewBag.Title = "Friday Lunch";
}

<body>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="main-form-container flex-container">
            <div class="flex-box-1">
                <h3>Hello</h3>
                <p>1</p>
            </div>
            <div class="flex-box-2">
                <h3>mysdegsde</h3>
                <p>2</p>
            </div>
        </div>
    </div>
</body>
