@{
    ViewBag.Title = "Friday Lunch";
}

<body>
    <div class="container-1">
        <div class="box-1">
            <h3>Hello</h3>
            <p>1</p>
        </div>
        <div class="box-2">
            <h3>my</h3>
            <p>2</p>
        </div>
    </div>
</body>
