body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.center {
    margin: 0 0;
}
.header-container {
    width: 100%;
    height: 700px;
    border-right: none;
    border-left: none;
    position: relative;
    padding: 20px;
}

.video-container, video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

video {
    opacity: 0.8;
}

.main-form-container {
    border: 3px solid white;
    padding: 30px 15px;
    text-align: center;
    color: white;
    background: rgba(51,51,51,0.5);
    width: 300px;
    margin: 10% auto;
}

.container-1{
    display: flex;
}

.box-1{
    flex:1;
    order:1;
}

.box-2 {
    flex: 1;
    order: 2;
}

.float-right{
    float: right;
}

.float-left {
    float: left;
}

.form-group {
    text-align: center;
    margin: auto;
    padding: 30px;
}

input {
    margin: 0 auto;
    text-align: center;
}

.onclick-alert{
    list-style-type: none;
}